src/*.exe
src/olegcoin
src/olegcoind
src/test_olegcoin
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.olegcoin
#compilation and Qt preprocessor part
*.qm
Makefile
olegcoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
